/* start page login */


.login_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 35px;
    padding-bottom: 20px;
    border-radius: 50px;
    border: 2px solid #edf2f4;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 5pt 1pt rgba(226, 225, 225, 0.308);
}

form {
    padding-bottom: 40px;
    margin-top: 5%;
}

form input {
    width: 65%;
    padding: 8px;
    border: none;
    border: 1px solid gray;
    outline: none;
    margin: 15px;
    border-radius: 10px;

}

/* start button login */
.lo {
    width: 30%;
    border: 1px solid;
    border-radius: 20px;
    font-size: medium;
    border-color: #0081C2;
    background-color: #0081C2;
    color: aliceblue;
    padding-bottom: 7px;
    padding-top: 5px;
    text-align: center;
    margin-bottom: 9px;
    margin-top: -6px;
    cursor: pointer;
}

/* end button login */

p {
    margin: 3px;
    color: rgb(156, 151, 151);
}


.anow {
    text-underline-offset: 2px;
    color: #0081C2;
    cursor: pointer;
}

.forgot {
    color:#0081C2;
    text-underline-offset: 2px;
    cursor: pointer;
    
}
 
.fa-eye:before {
    content: "\f06e";
    margin-left: -70px;
}

.fa-eye-slash:before {
    content: "\f070";
    margin-left: -77px;
}
#hide1{
    display: none;
    }
i#hide1{
    display: block;
    margin-top: -38px;
    margin-left: 261px;
    margin-bottom: 21px;
    display: none;
}
  i#hide2{
    display: block;
    margin-top: -38px;
    margin-left: 268px;
    margin-bottom: 21px;
}
.error{
    color: red;
    font-weight: bold;
}
  

/*end page login*/
body {
    font-family: 'calibri', sans-serif;
  
  }
  
  /*titre sign */
  .titre {
    font-family: 'calibri', sans-serif;
    position: relative;
    top: 100px;
    right: 10px;
    font-size: 25px;
  }
  
  
  
  
  /* photo grand de 3 page */
  .photo_grand {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 100%;
  }

  @media (max-width:700px){
    .photo_grand {
     
      display: none;
    }
  }
  
  /* start input */
  form input {
    padding: 8px;
    border: none;
    border: 1px solid gray;
    outline: none;
    margin: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
  
    font-size: 16px !important;
    height: 40px;

  
  }
  
  .lo {
    width: 30%;
    border: 1px solid;
    border-radius: 15px;
    font-size: 16px;
    border-color: #0081C2;
    background-color: #0081C2;
    color: aliceblue;
    padding-bottom: 7px;
    padding-top: 5px;
    text-align: center;
    margin-bottom: 17px;
    margin-top: 12px;
    cursor: pointer;
}
select{
  padding: 8px;
    border: none;
    border: 1px solid gray;
    outline: none;
    margin: 15px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    width: 200px;

    
}



  
  /* end input */
  
  /* start hr + or + h3 */
  hr {
    margin-top: 20px;
    width: 100%;
  }
  
  .or {
    background: #fff;
    width: 30px;
    margin: -19px auto 15px;
  }
  
  
  
  h3 {
    margin-bottom: 5px;
  }
  
  /*end hr + or + h3*/
  /* start page sign up montor */
.sign_box_montor {
    width: 360px;
    height: 550px;
    text-align: center;
    position: absolute;
    top: 8px;
    right: 80px;
    font-size: 16px;
  }
  
  /* button retour */
  
  .btn_retour button {
    background: transparent;
    cursor: pointer;
    color: #0081C2;
    border: 2px solid #0081c2;
    border-radius: 15px;
    font-size: 16px;
    transition: background 0.5s;
    padding-left: 8px;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .btn_retour {
    max-width: 23%;
    padding: 5px 0px;
  
    position: relative;
    left: -15%;
    margin-top: 30px;
  
  
  
  
  }
  
  .btn_retour button:hover {
    color: white;
    background: #0081c2;
    border-color: #0081c2;
  }
  
  .btn_retour button:hover {
    color: white;
    background: #0081c2;
    border-color: #0081c2;
  }
  
  /* end button retour */
  .btn_radio {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    vertical-align: middle;
    color: black;
  
  }
  
  .btn_radio+.btn_radio {
    margin-left: 15px;
    
  }
  
  .btn_radio input[type=radio] {
    font-size: 16px;
    text-align: center;
    margin: 16px auto;
    justify-content: center;
  }
  
  /*end page sign up montor */
  .photo_googel {
    position: relative;
    right: 40px;
    top: 8px;
  
  }
  
  .photo_facebook {
    position: relative;
    left: 40px;
    top: -20px;
  }
  .error{
    color: red;
    font-weight: bold;
}
    