<section>
    <img class="photo_grand" src="assets/img/a.jpg">
    <div class="sign_box_montor">
        <h2 style="margin-top: 40%;" >LOGIN</h2>

        <form>
            <input type="email" placeholder="Email" formControlName="email">
    
            <input type="password" placeholder="Password" id="myInput" formControlName="password">
    

            <span class="eye" onclick="myFunction()">
                <i id="hide1" class="fa fa-eye"></i>
                <i id="hide2" class="fa fa-eye-slash"></i>
            </span>
            <div>
                <small class="error"></small> <br>
    
            </div>
            <br>    
            <button class="lo">Login</button>
            <br>
            <a routerLink="forgot" class="forgot">Forgot your password ?</a>
            <p>Don't have an account ?</p>
            <a class="anow" routerLink="signup">Register now</a>
    
        </form>

    </div>
</section>