<section>
    <img class="photo_grand" src="assets/img/image.png">
    <div class="login_box">
        <h2 style="margin-top: 40%;color: #D7C0AE;font-family: inherit;" >CONNEXION</h2>
        <p style="color: white;">Veuillez entrer vos identifiants et mot de passe</p>
        <form>
            <input type="email" placeholder="E-mail" formControlName="email">
            <input type="password" placeholder="Mot de passe" id="myInput" formControlName="password">
            <div>
                <small class="error"></small> <br>
    
            </div>
            <br>    
            <button class="lo">Se connecter</button>
            <br>
            <a class="anow" routerLink="signup">Pas de compte? Inscrivez-vous!</a>
    
        </form>
    </div>
</section>