<html>
<head>
</head>
<body>
    <div class="acceuil-23P" id="1:2">
    <img class="rectangle-38-P2M" src="C:/Users/yosse/Downloads/img1accueil" id="4:450"/>
    <p class="bienvenue-UJh" id="2:26">Bienvenue </p>
    <p class="votre-vision-notre-ralisation-WmB" id="2:40">Votre vision, notre réalisation</p>
    <div class="auto-group-s9uf-BsK" id="J4gBj2pZnPiMAEGPwmS9uF">
    <div class="button-uHX" id="223:6874">Se connecter</div>
    <div class="button-uB3" id="223:6878">S’inscrire</div>
    </div>
    <div class="design-kBf" id="223:8266">
    <div class="design-s1P" id="223:8268"></div>
    <img class="vector-bCH" src="/api/try-prod-us-east-2-first-cluster/projects/H1g..." id="223:8269"/>
    <div class="group-2-zkD" id="223:8270">
    <div class="design-KGh" id="223:8279"></div>
    <img class="layer1-SMK" src="/api/try-prod-us-east-2-first-cluster/projects/H1g..." id="223:8281"/>
    <img class="design-w3B" src="/api/try-prod-us-east-2-first-cluster/projects/H1g..." id="223:8273"/>
    <img class="layer1-UYu" src="/api/try-prod-us-east-2-first-cluster/projects/H1g..." id="223:8271"/>
    <img class="vector-DWV" src="/api/try-prod-us-east-2-first-cluster/projects/H1g..." id="223:8278"/>
    <div class="design-Lr1" id="223:8280"></div>
    </div>
    <p class="contactez-nous-tcd" id="223:8283">Contactez-nous</p>
    <div class="design-z9s" id="223:8284"></div>
    </div>
    </div>